<div>
  <app-navbar></app-navbar>
  <div class="m-10 flex flex-row items-center justify-center">
    <div class="mx-10">
      <h1 class="w-40 text-4xl">
        Unlock the Power of Financial
        <span class="font-brand font-extrabold">Clarity.</span>
      </h1>
      <button
        class="my-5 rounded-full bg-indigo-600 px-4 py-2 text-white transition-transform hover:scale-110 hover:bg-indigo-500"
      >
        GET STARTED
      </button>
    </div>
    <img class="mx-12 h-80" src="assets/images/coinstack.png" alt="" />
  </div>
</div>
