<button
  [type]="type"
  [disabled]="isDisabled || isLoading"
  [ngClass]="{
    'bg-gray-100 enabled:hover:bg-gray-200 enabled:active:bg-gray-300':
      variant === 'standard',
    'bg-emerald-500 enabled:hover:bg-emerald-600 enabled:active:bg-emerald-700':
      variant === 'confirm',
    'bg-red-500 enabled:hover:bg-red-600 enabled:active:bg-red-700':
      variant === 'danger',
    'cursor-not-allowed opacity-50': isDisabled || isLoading,
  }"
  class="rounded-lg border px-4 drop-shadow-sm transition-transform enabled:active:translate-y-0.5 enabled:active:scale-95"
>
  {{ text }}
</button>
