<form class="flex flex-col rounded-3xl border bg-white px-10 py-8 shadow-lg">
  <label for="usr">Username</label>
  <input id="usr" class="rounded-full border px-3" />
  <label for="pass">Password</label>
  <input id="pass" class="rounded-full border px-3" />
  <label for="passconfirm">Confirm password</label>
  <input id="passconfirm" class="rounded-full border px-3" />
  <button
    class="mt-5 rounded-full bg-indigo-600 px-4 py-2 text-white transition-transform hover:scale-110 hover:bg-indigo-500"
  >
    Sign up
  </button>
</form>
