<div
  class="sticky top-4 m-4 flex flex-row justify-between rounded-full border bg-white px-20 py-5 shadow-lg"
>
  <a
    class="-my-2 cursor-pointer select-none font-brand text-3xl font-extrabold"
    routerLink=""
    >Clarity.</a
  >
  <div class="flex flex-row justify-between space-x-10">
    <app-link text="About" link="/about"></app-link>
    <app-link text="Login" link="/login"></app-link>
    <button
      class="-my-2 rounded-full bg-indigo-600 px-4 py-2 text-white transition-transform hover:scale-110 hover:bg-indigo-500"
      routerLink="/signup"
      routerLinkActive="active"
    >
      GET STARTED
    </button>
  </div>
</div>
